

.btn {
  padding: 8px 16px;
  border: none;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  border-radius: 3px;
  margin: 0.25rem;
  
  background-color: $clrTag1;
  &:hover{
    background-color: $clrTag1dark;
  }

  &.danger {
    background-color: $clrTag2;
    &:hover{
      background-color: $clrTag2dark;
    }
  }

  &.action {
    background-color: $clrTag1;
  &:hover{
    background-color: $clrTag1dark;
  }
  }
}

.rentals-title-container{
  margin-block-end: 20px;
  .rentals-title{
    margin-inline-end: 25px;
  }
  .add-btn{
    margin: 0;
  }
}

