* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    color: $clr2;
    font-family: blink, sans-serif;
    background-color: $clr4;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

input{
    outline: none;
    font-family: inherit;
    border: 1px $clr2 solid;
    padding: 6px 9px;
}

// Remove nuber input arrows
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}