@font-face {
    font-family: blink;
    src: url(../assets/fonts/blinkmacsystemfont-regular.ttf);
}

@font-face {
    font-family: figtree-m;
    src: url(../assets/fonts/Figtree-Medium.ttf);
}

// @font-face {
//     font-family: fa-solid;
//     src: url(../assets/fonts/fa-solid-400.ttf);
// }
