// COLOR PALETTE
//SITE
$clr1: #fff;
$clr2: rgb(54, 54, 54);
$clr3: rgb(219, 219, 219);
$clr4: rgb(245, 245, 245);
$clr5: #f8f4f4;
$clr6: #ddd;

//TAGS
$clrTag1: #5588a3;
$clrTag2: #e2a4bc;
$clrTag3: #f6da63;
$clrTag4: #0c9463;
$clrTag5: #da2d2d;
$clrTag6: #db9109;