// COLOR PALETTE
//SITE
$clr1: #fff;
$clr2: rgb(54, 54, 54);
$clr3: rgb(219, 219, 219);
$clr4: rgb(247, 247, 247);


//TAGS
$clrTag1: #39c3dd;
$clrTag1dark: #2fa2b9;

$clrTag2: #dd6839;
$clrTag2dark: #b6552f;
